a {
  color: #66d9ef;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  color: #fff;
  background-color: #272822;
}

h1 {
  color: #66d9ef;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

h2 {
  color: #ffd866;
  font-family: Copperplate, Copperplate Gothic Light, fantasy;
}

header {
  display: flex;
  justify-content: center;
}

img { 
  max-width: 100%;
}

p {
  font-family: Consolas, monaco, monospace;
}

select {
  background-color: #272822;
  border: solid #f92672;
  color: #f92672;
  font-size: 2rem;
  padding: 0.5rem;
}

select > option {
  color: #f92672;
}

ul {
  list-style-type: none;
  padding: 0;
}

.App {
  text-align: center;
  padding: 2rem 20%;
}

.green {
  background-color: green;
}

.movieDetails {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-bottom: 3rem;
}

.movieDetails section {
  max-width: 50%;
  padding: 0 2rem;
}

.nicCageModeInput {
  color: #f92672;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1rem;
}

.nicCageModeInput input {
  background-color: #272822;
}

.nicCageModeInput label {
  margin-right: 1rem;
}

.ratingBadge {
  border-radius: 2rem;
  display: inline-block;
  font-size: 4rem;
  font-weight: bold;
  padding: 2rem;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
  color: black;
}
