a {
  color: #66d9ef;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body { 
  color: #fff;
  background-color: #272822;
}

h1 {
  color: #66d9ef;
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}

h2 {
  color: #ffd866;
  font-family: Copperplate,Copperplate Gothic Light,fantasy; 
}

header {
  display: flex;
  justify-content: center;
}

p {
  font-family: Consolas,monaco,monospace; 
}

select {
  background-color: #272822;
  border: solid #f92672;
  color: #f92672;
  font-size: 24px;
  margin-left: 16px;
  padding: 8px;
}

select > option {
  color: #f92672;
}

ul {
  list-style-type: none;
  padding: 0;
}

.App {
  text-align: center;
  padding: 32px 20%;
}

.green {
  background-color: green;
}

.movieDetails {
  display: flex;
  padding-bottom: 30px;
}

.movieDetails section {
  padding: 0 20px;
}

.ratingBadge {
  border-radius: 10px;
  display: inline-block;
  font-size: 48px;
  font-weight: bold;
  padding: 20px;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
  color: black;
}
